@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Vollkorn&display=swap");

:root {
  --primary-red: #da1f34;
  --primary-white: #fff;
  --primary-blue: #302f80;
}

* {
  font-family: "Roboto", sans-serif;
}

/************************ Theme Colors ************************/

.bg-primary-cstm {
  background-color: var(--primary-red);
}
